**/node_modules/
**/vendor/
**/coverage/
**/storybook-static/
/frontend/dist/
**/.env
**/.env.backup
**/.phpunit.result.cache
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
